@import './texts.css';
@import './flex.css';
@import './grid.css'


:root {
    font-size: 16px;
}

body {
    /* background-color: black; */
}

li {list-style: none;}

button {
    display: block;
    margin: 5rem 0 12rem 0;
}

button:focus {
    outline-width: 5px;
    outline-style: solid;
    outline-color: darkorange
    ;
}

input:invalid {
    border: solid 5px red;
    content: 'asd';
}

/* input:invalid::before { */

/* } */